<%- include("./partials/header"); %>
<section>
	<p>Fancy Music Library (or FML, as I amusingly realized it abbreviates to afterward) is a small project I made with Deno and Postgres. It stores artists, songs, and albums.</p>
	<p>The third-party libraries I used for this are:
		<ul>
			<li><a href="https://deno.land/x/oak@v11.1.0">Oak</a></li>
			<li><a href="https://deno.land/x/view_engine@v10.6.0">View Engine</a></li>
			<li><a href="https://github.com/Borewit/music-metadata-browser/">music-metadata-browser</a></li>
		</ul>
	</p>
</section>
<%- include("./partials/footer"); %>